- const isAdmin = currentUser && currentUser.get('admin');
- const userTooltip = usersCount === 1 ? `${usersCount} total user` : `${usersCount} total users`;
.g-user-list-header
  .g-user-pagination
  if isAdmin
    .g-user-count-container(title=userTooltip)
      i.icon-users
      span.g-user-count= usersCount

  .g-user-sort
  form.g-user-search-form.form-inline(role="form")
    .form-group.g-users-search-container
  if isAdmin
    button.g-user-create-button.btn.btn-sm.btn-default
      i.icon-plus-squared
      |  新建用户

each user in users
  .g-user-list-entry
    .g-user-title
      a.g-user-link(g-user-cid=user.cid)
        b= user.name()
    .g-user-subtitle
      span.g-user-login  #{user.get('login')}
    .g-clear-right
