mixin dateInfo(intro, property)
  .g-collection-info-line(property=property)
    i.icon-clock
    span= intro
    span.g-bold-part= formatDate(collection.get(property), DATE_SECOND)

.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true") &times;
      h4.modal-title 资源库信息
      .g-dialog-subtitle
        i.icon-sitemap
        span= collection.name()
    .modal-body
      if collection.get('description')
        .g-info-dialog-description!= renderMarkdown(collection.get('description'))

      .g-collection-info-lines
        +dateInfo('Created ', 'created')
        if collection.get('created') !== collection.get('updated')
          +dateInfo('Last updated ', 'updated')

        .g-collection-info-line(property="size")
          i.icon-floppy
          | 大小: #[span.g-bold-part= formatSize(collection.get('size'))]

        .g-collection-info-line(property="nFolders")
          i.icon-folder
          | 包含 #[span.g-bold-part= collection.get('nFolders')] 子文件夹

        .g-collection-info-line(property="id")
          i.icon-share
          | 唯一ID: #[span.g-bold-part= collection.id]

    .modal-footer
      button.back.btn.btn-small.btn-default(data-dismiss="modal") 关闭
