.g-hierarchy-widget
  .g-hierarchy-breadcrumb-bar
    ol.breadcrumb
  if showActions
      .g-collection-pagination
      .g-hierarchy-actions-header
        if checkboxes
          input(class="g-select-all", type="checkbox", title="全选择 / 全不选")
          | 全选择 / 全不选

        .g-folder-header-buttons
          if (type === 'folder')
            if (level >= AccessType.WRITE)
              button.g-upload-here-button.btn.btn-sm.pv-btn-success(title="文件上传") 病理图像上传
                i.icon-upload
            if (level >= AccessType.ADMIN)
          else if (type === 'collection')
              hidden
          .btn-group
            .btn-group
              button.button.g-checked-actions-button.btn.btn-sm.btn-default.dropdown-toggle(
                data-toggle="dropdown", disabled="disabled", title="Checked actions") 功能选项
                i.icon-lamp
              ul.g-checked-actions-menu.dropdown-menu(role="menu")
            if type === 'collection'
              button.g-folder-actions-button.btn.btn-sm.btn-default.dropdown-toggle(
                  data-toggle="dropdown", title=`图像库操作`) 图像库功能
                i.icon-leaf
            else if type === 'user'
              button.g-folder-actions-button.btn.btn-sm.btn-default.dropdown-toggle(
                  data-toggle="dropdown", title=`用户操作`) 用户功能
                i.icon-users
            else if type === 'folder'
              button.g-folder-actions-button.btn.btn-sm.btn-default.dropdown-toggle(
                  data-toggle="dropdown", title=`文件夹操作`) 文件夹功能
                i.icon-box
            ul.g-folder-actions-menu.dropdown-menu.pull-right(role="menu")
              li.pv-dropdown-header(role="presentation")
                if type === 'collection'
                  i.icon-home
                else if type === 'user'
                  i.icon-users
                else if type === 'folder'
                  i.icon-archive
                |  #{model.name()}
              if type === 'folder' || type === 'collection'
                li(role="presentation")
                  a.g-download-folder(role="menuitem", href=model.downloadUrl())
                    i.icon-download
                    if type === 'collection'
                      | 下载病理图片库
                    else
                      | 下载文件夹
              if level >= AccessType.WRITE
                li(role="presentation")
                  a.g-create-subfolder(role="menuitem")
                    i.icon-list-add
                    | 新建文件夹
                if type === 'folder' || type === 'collection'
                  li(role="presentation")
                    a.g-edit-folder(role="menuitem")
                      i.icon-feather
                      if type === 'collection'
                        | 编辑病理图片库
                      else
                        | 编辑文件夹
              if level >= AccessType.ADMIN && (type === 'folder' || type === 'collection')
                li.divider(role="presentation")
                li(role="presentation")
                  a.g-delete-folder(role="menuitem")
                    i.icon-trash
                    if type === 'collection'
                      | 删除该病理图片库
                    else
                      | 删除该文件夹
        .g-clear-right
  if onFolderSelect
    .g-select-folder-container
      ul.g-folder-list
        li.g-folder-list-entry(public='true')
          button.g-select-folder.btn.btn-sm.btn-info
            i.icon-folder
            |  Select this #{type}.
            i.icon-right-dir
  .g-folder-list-container
  .g-item-list-container
  .g-empty-parent-message.g-info-message-container.hide
    i.icon-info-circled
    if itemFilter
      |  该文件夹可显示的图像
    else
      |  空文件夹
