.g-global-nav-main
   ul.g-global-nav
    each navItem in navItems
      li.g-global-nav-li
      if navItem.target === 'collections'
        button.button(g-target=navItem.target, g-name=navItem.name, type='button',  onclick="location.href='https://localhost:8080/#collections'")
          span= navItem.name
      else if navItem.target === 'admin'
        button.button(g-target=navItem.target, g-name=navItem.name, type='button',  onclick="location.href='https://localhost:8080/#admin'")
          span= navItem.name
      else
        button.button(g-target=navItem.target, g-name=navItem.name, type='button',  onclick="location.href='https://localhost:8080/#users'")
          span= navItem.name
