.g-global-nav-main
   ul.g-global-nav
    each navItem in navItems
      li.g-global-nav-li
      if navItem.target === 'collections'
        a.button.g-nav-link(g-target=navItem.target, g-name=navItem.name, href=`#${navItem.target}`)
          span= navItem.name
      else if navItem.target === 'admin'
        a.button.g-nav-link(g-target=navItem.target, g-name=navItem.name, href=`#${navItem.target}`)
          span= navItem.name
      else
        a.button.g-nav-link(g-target=navItem.target, g-name=navItem.name, href=`#${navItem.target}`)
          span= navItem.name
